@model DigginPharoh.Models.Cranial

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout-client.cshtml";
}

<h1>Create</h1>

<h4>Cranial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCranial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Burial Id</label>
                <input value="@ViewBag.BurialId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Sample_Number" class="control-label"></label>
                <input asp-for="Sample_Number" class="form-control" />
                <span asp-validation-for="Sample_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maximum_Cranial_Length" class="control-label"></label>
                <input asp-for="Maximum_Cranial_Length" class="form-control" />
                <span asp-validation-for="Maximum_Cranial_Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maximum_Cranial_Breadth" class="control-label"></label>
                <input asp-for="Maximum_Cranial_Breadth" class="form-control" />
                <span asp-validation-for="Maximum_Cranial_Breadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basion_Bregma_Height" class="control-label"></label>
                <input asp-for="Basion_Bregma_Height" class="form-control" />
                <span asp-validation-for="Basion_Bregma_Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basion_Nasion" class="control-label"></label>
                <input asp-for="Basion_Nasion" class="form-control" />
                <span asp-validation-for="Basion_Nasion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basion_Prosthion_Length" class="control-label"></label>
                <input asp-for="Basion_Prosthion_Length" class="form-control" />
                <span asp-validation-for="Basion_Prosthion_Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bizygomatic_Diameter" class="control-label"></label>
                <input asp-for="Bizygomatic_Diameter" class="form-control" />
                <span asp-validation-for="Bizygomatic_Diameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nasion_Prosthion" class="control-label"></label>
                <input asp-for="Nasion_Prosthion" class="form-control" />
                <span asp-validation-for="Nasion_Prosthion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maximum_Nasal_Breadth" class="control-label"></label>
                <input asp-for="Maximum_Nasal_Breadth" class="form-control" />
                <span asp-validation-for="Maximum_Nasal_Breadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interorbital_Breadth" class="control-label"></label>
                <input asp-for="Interorbital_Breadth" class="form-control" />
                <span asp-validation-for="Interorbital_Breadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Do you wish to add an additional reocrd for @ViewBag.BurialId at this time?</label>
                <select asp-for="Burial_Id" class="form-control">
                    <option>Not now</option>
                    <option>Yes, a Burial</option>
                    <option>Yes, a Biological Sample</option>
                    <option>Yes, a Cranial Record</option>
                    <option>Yes, a Carbon Dating Record</option>
                    <option>Yes, a Note</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-route-id="@ViewBag.BurialId" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
