@model DigginPharoh.Models.BiologicalSamples

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout-client.cshtml";
}

<h1>Create</h1>

<h4>BiologicalSamples</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Burial Id</label>
                <input value="@ViewBag.BurialId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Container_Type" class="control-label"></label>
                <input asp-for="Container_Type" class="form-control" />
                <span asp-validation-for="Container_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Container_num" class="control-label"></label>
                <input asp-for="Container_num" class="form-control" />
                <span asp-validation-for="Container_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Large_Item" class="control-label"></label>
                <input asp-for="Large_Item" class="form-control" />
                <span asp-validation-for="Large_Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cluster_num" class="control-label"></label>
                <input asp-for="Cluster_num" class="form-control" />
                <span asp-validation-for="Cluster_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Previously_Sampled" class="control-label"></label>
                <input asp-for="Previously_Sampled" class="form-control" />
                <span asp-validation-for="Previously_Sampled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initials" class="control-label"></label>
                <input asp-for="Initials" class="form-control" />
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Do you wish to add an additional reocrd for @ViewBag.BurialId at this time?</label>
                <select asp-for="Burial_id" class="form-control">
                    <option>Not now</option>
                    <option>Yes, a Burial</option>
                    <option>Yes, a Biological Sample</option>
                    <option>Yes, a Cranial Record</option>
                    <option>Yes, a Carbon Dating Record</option>
                    <option>Yes, a Note</option>
                </select>
                <span asp-validation-for="Burial_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-id="@ViewBag.BurialId" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
