@model DigginPharoh.Models.Carbon_Dating

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout-client.cshtml";
}

<h1>Create</h1>

<h4>Carbon_Dating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Burial Id</label>
                <input value="@ViewBag.BurialId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="AREA_Num" class="control-label"></label>
                <input asp-for="AREA_Num" class="form-control" />
                <span asp-validation-for="AREA_Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rack_Num" class="control-label"></label>
                <input asp-for="Rack_Num" class="form-control" />
                <span asp-validation-for="Rack_Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TUBE_Num" class="control-label"></label>
                <input asp-for="TUBE_Num" class="form-control" />
                <span asp-validation-for="TUBE_Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size_ml" class="control-label"></label>
                <input asp-for="Size_ml" class="form-control" />
                <span asp-validation-for="Size_ml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foci" class="control-label"></label>
                <input asp-for="Foci" class="form-control" />
                <span asp-validation-for="Foci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C14_Sample_2017" class="control-label"></label>
                <input asp-for="C14_Sample_2017" class="form-control" />
                <span asp-validation-for="C14_Sample_2017" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conventional_14C_Age_BP" class="control-label"></label>
                <input asp-for="Conventional_14C_Age_BP" class="form-control" />
                <span asp-validation-for="Conventional_14C_Age_BP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calendar_Date_14C" class="control-label"></label>
                <input asp-for="Calendar_Date_14C" class="form-control" />
                <span asp-validation-for="Calendar_Date_14C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated_95_Calendar_Date_MAX" class="control-label"></label>
                <input asp-for="Calibrated_95_Calendar_Date_MAX" class="form-control" />
                <span asp-validation-for="Calibrated_95_Calendar_Date_MAX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated_95_Calendar_Date_MIN" class="control-label"></label>
                <input asp-for="Calibrated_95_Calendar_Date_MIN" class="form-control" />
                <span asp-validation-for="Calibrated_95_Calendar_Date_MIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated_95_Calendar_Date_SPAN" class="control-label"></label>
                <input asp-for="Calibrated_95_Calendar_Date_SPAN" class="form-control" />
                <span asp-validation-for="Calibrated_95_Calendar_Date_SPAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated_95_Calendar_Date_AVG" class="control-label"></label>
                <input asp-for="Calibrated_95_Calendar_Date_AVG" class="form-control" />
                <span asp-validation-for="Calibrated_95_Calendar_Date_AVG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Do you wish to add an additional reocrd for @ViewBag.BurialId at this time?</label>
                <select asp-for="Burial_Id" class="form-control">
                    <option>Not now</option>
                    <option>Yes, a Burial</option>
                    <option>Yes, a Biological Sample</option>
                    <option>Yes, a Cranial Record</option>
                    <option>Yes, a Carbon Dating Record</option>
                    <option>Yes, a Note</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-route-id="@ViewBag.BurialId" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
