bsSumList.css
/*============= Main Content =============*/
body {
    background-image: url('../img/EgyptDesert_1.jpg');
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    max-height:820px;
}

.navbar {
    background: rgba(0, 0, 0, .7) !important;
    transition: background-color 1s ease;
}

.BurialH1 {
    color: white;
    letter-spacing: .2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    margin-top: 4.2rem;
    text-align: center;
}

.col-pos {
    margin-top: 6.5rem;
}

/*============= Table =============*/

.tableFixHead {
    overflow-y: auto;
    height: 150px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
    border: 1px solid #ccc;
    text-align: center;
}


th {
    background: #2D3852;
    color: white;
}

/*============= button =============*/

.btn-sum {
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 1.5rem;
    border-width: 2px;
    padding: .3rem .8rem !important;
    border-radius: 5px;
}

.btn-dark:hover, .btn-dark:active {
    background-color: ghostwhite;
    color: black;
}

.NewRocord-bt {
    display: inline-block;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background: steelblue;
}

.NewRocord-bt.active, .NewRocord-bt:hover {
    background: #78AEDB;
    transition-delay: .1s;
}

.filter-bt {
    margin: 0 0 .4rem 1rem;
    background: steelblue;
}

.filter-bt.active, .filter-bt:hover {
    /*    margin: 0 0 .4rem 1rem;*/
    background: #78AEDB;
    transition-delay: .1s;
}

label {
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: .5rem;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
}

.form-control {
    background-color: #53595f;
    border-radius: 0;
    border: .15rem solid #666b71;
    color: white !important;
    font-size: 1.1rem;
    width: 6.5rem;
    margin-left: 1.1rem;
}