/*============= Main Content =============*/
body {
    background-image: url('../img/EgyptDesert_1.jpg');
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;

}

.BurialH1 {
    color: white;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    margin: 2.2rem 0 1.2rem 0;
    padding-top: 3.4rem;
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
}



label {
    width: 10rem;
    display: inline-block;
    margin:5px;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}


input, select {
    background: white;
    width: 10rem;
    outline: none;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    width: auto;
    font-size: 12px;
    color: black;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: .9rem;
}

.form-gp {
    padding-bottom: .3rem;
    text-align: center;
}

.form-control {
    width: 7rem;
    border: .15rem solid #666b71;
    border-radius: 10px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

