/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
   padding: env(safe-area-inset);
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}
.text-nuno {
   color: #FFBF80;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
   content: "";
   height: 4rem;
   display: block;
   margin-top: -4rem;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
   padding: 1rem;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
   height: 2rem;
}
.navbar {
   padding: .7rem 1rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: .1rem;
   font-size: .9rem;
   transition: background-color .5s ease;
}
.navbar-nav li {
   padding-right: .8rem;
}
.navbar-nav .nav-link {
   color: white;
   padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
   color: #FFBF80;
}
.custom-toggler-icon {
   color: white;
   font-size: 1.6rem;
}
.navbar.solid,
.navbar.solid-toggle {
   background: rgba(0, 0, 0, .7)!important;
   transition: background-color 1s ease;
}

/*-- Remove Button Outline --*/
button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
   transition: all .6s ease;
}
button, a, a.btn,
.svg-inline--fa {
   transition: all .6s ease;
}

/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
   position: relative;
   width: 100%;
   height: 100vh;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}
.home-inner {
   background-image: url('../img/4.jpg');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   /* background-position-y: top 100px ; */
   /* background-position-x: right 200px; */
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}

/*-- Landing Page Caption --*/
.caption {
   z-index: 1;
   position: absolute;
   top: 38%;
   width: 100%;
   max-width: 100%;
}
.caption h1 {
   font-size: 4rem;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem black;
   padding-bottom: 1rem;
}
.caption h3 {
   font-size: 3.5rem;
   text-shadow: .1rem .1rem .5rem black;
   padding-bottom: 2rem;
}
.caption .btn-lg {
   border-width: medium;
   padding: .8rem 1.5rem;
   font-size: 1.1rem;
}

/*-- Bouncing Down Arrow --*/
.arrow {
   position: absolute;
   bottom: 0;
   width: 100%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
}
.down-arrow .svg-inline--fa {
   color: white;
   font-size: 2.2rem;
   opacity: .3;
}
.down-arrow .svg-inline--fa:hover {
   opacity: .8;
}

/*============= FEATURES SECTION =============*/

.btn-sm {
   border-width: medium;
   border-radius: 0;
   padding: .5rem 1.1rem;
   text-transform: uppercase;
   font-size: .9rem;
   margin: 1rem;
}
.btn-nuno {
   background-color: #FFBF80;
   color: white;
}
.btn-nuno:hover {
   background-color: #eea55d;
   color: white;
}
h3.heading {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.9rem;
   text-align: center;
   margin-bottom: 1.9rem;
}
.heading-underline {
   width: 3rem;
   height: .2rem;
   background-color: #FFBF80;
   margin: 0 auto 2rem;
}
.feature span {
   color: #FFBF80;
   margin-bottom: .6rem;
}
.feature h3 {
   text-transform: uppercase;
   font-size: 1.3rem;
   padding-bottom: .4rem;
}

/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/
.fixed {
   position: relative;
   width: 100%;
   overflow: hidden;
}
.fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -9999;
}
.fixed-dark {
    background-image: url('../img/desert-1.jpg');
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1;
    top: 0;
    left: 0;
    display: table;
    }
    .dark {
    background-color: rgba(0, 0, 0, .7);
    padding: 7rem 0;
    z-index: 1000;
}

.lead-x{
    text-align:left;
    width:auto;
    margin: 0 60px 0 60px;
}
/*============= PORTFOLIO SECTION =============*/

.collections-item img:hover {
    transform: scale(1.3);
    cursor: zoom-in;
    }
    .collections-item img {
    transition: transform .4s ease;
}

/*============= PRICING SECTION =============*/

.pricing-column {
    background-color: white;
    height: 100%;
    padding: 1.6rem;
    border-top: .25rem solid #FFBF80;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    transition: transform .7s ease;
    position: relative;
    overflow: hidden;
}
.pricing-column:hover {
    transform: scale(1.1);
}
.pricing-column h4 {
    font-size: 1.1rem;
    font-weight: 700;
}
.ribbon {
    background-color: #6c757d;
    color: white;
    font-size: .8rem;
    font-weight: 700;
    height: 2rem;
    width: 10rem;
    padding-top: .4rem;
    position: absolute;
    transform: rotate(45deg);
    right: -2.8rem;
    top: 1.5rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .25);
}

/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/
.fixed-dark2 {
    background-image: url('/img/tokyo-2.jpg');
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1;
    top: 0;
    left: 0;
    display: table;
}
/* .dark2 {
background-color: rgba(0, 0, 0, .7);
padding: 7rem 0;
z-index: 1000;
} */


.owl-stage {
    display: flex;
}
.card {
    height: 100%;
    border-radius: 0;
    text-align: center;
    margin: 0 1rem;
    border: .1rem solid rgba(0, 0, 0, .075);
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    transition: transform .4s ease;
}
.card:hover {
    transform: scale(.95);
}
button.owl-dot.active span,
button.owl-dot:hover span {
    background: #FFBF80!important;
}
ul.social {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
ul.social li {
    display: inline;
    padding-right: .8rem;
}
ul.social li a {
    color: #FFBF80;
    transition: all .2s ease;
}
ul.social li a:hover {
    color: #505962;
}


/*============= CLIENTS SECTION =============*/

#clients-carousel {
    max-width: 1200px;
    margin: 0 auto;
}
.clients img {
    border-radius: 50%;
    transition: transform .3s ease;
}
.clients img:hover {
    transform: scale(.95);
}
blockquote .svg-inline--fa {
    margin: 1rem;
    color: #FFBF80;
}
.clients-hr {
    border-top: .1rem solid #FFBF80;
}

/*============= CONTACT SECTION =============*/

.footer {
    background: url('/img/footer-bg.jpg') no-repeat;
    background-size: cover;
    color: white;
/* background-color: #505962; */
}
.row.outer {
    background-color: rgba(57, 63, 70, .85);
    padding: 1rem 2rem 3rem;
}
.footer img {
    height: 2rem;
    margin: 1.5rem 0;
}
.footer a,
.footer ul.social li a {
color: white;
}
.footer ul.social li a:hover {
color: #FFBF80;
}
.footer h3 {
text-transform: uppercase;
margin: 1.5rem 0;
}

/*--- Contact Form --*/
.form-group {
margin-bottom: 1.3rem;
}
.form-control {
background-color: #53595f;
border-radius: 0;
border: .15rem solid #666b71;
color: white!important;
font-size: 1.1rem;
}
.form-control:focus {
background-color: #53595f;
border: .15rem solid #666b71;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #b2b5b8!important;
}
hr.socket {
    border-top: .2rem solid #666b71;
    width: 100%;
}

/*============= TOP SCROLL =============*/

a.top-scroll {
    right: 1.2rem;
    bottom: 1.2rem;
    position: fixed;
    opacity: .3;
    z-index: 1000;
    display: none;
}
a.top-scroll:hover {
opacity: .5;
}
.top-scroll .svg-inline--fa {
background: white;
color: #53595f;
font-size: 3rem;
height: 1.7rem;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
.caption h1 {
font-size: 3.5rem;
letter-spacing: .2rem;
padding-bottom: .8rem;
}
.caption h3 {
font-size: 2.2rem;
padding-bottom: 1.7rem;
}
.caption .btn-lg {
padding: .7rem 1.2rem;
font-size: 1rem;
}
.clients img {
max-width: 50%;
margin: 0 auto;
}
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
.caption h1 {
font-size: 2.7rem;
letter-spacing: .15rem;
padding-bottom: .5rem;
}
.caption h3 {
font-size: 1.7rem;
padding-bottom: 1.2rem;
}
.caption .btn-lg {
padding: .6rem 1.1rem;
}
#features h1 {
font-size: 2rem;
}
.fixed-dark {
background-image: url('/img/footer-bg.jpg')
}
.fixed-light {
background-image: url('/img/footer-bg.jpg')
}
.footer {
background: url('/img/footer-bg.jpg') no-repeat;
}
.top-scroll {
display: none!important;
}
}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
.caption h1 {
font-size: 1.9rem;
letter-spacing: .1rem;
padding-bottom: .4rem;
}
.caption h3 {
font-size: 1.2rem;
padding-bottom: 1rem;
}
.caption .btn-lg {
padding: .4rem .9rem;
font-size: .9rem;
}
}

/*============ Razor Pages Css:*/

.buttonHolder{
text-align: center;
}

.btnS {
background-color: #FFBF80;
}

.btnS:hover {
background-color: #eea55d;
}


.form-control-S {
background-color: #53595f;
border-radius: 0;
border: .15rem solid #666b71;
color: white !important;
font-size: 1.1rem;
}

.form-control-S:focus {
background-color: #53595f;
border: .15rem solid #666b71;
}


/* ==========================================================================
#FONT
========================================================================== */
.font-robo {
font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
#GRID
========================================================================== */
.row {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.row-space {
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-moz-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.col-2 {
width: -webkit-calc((100% - 60px) / 2);
width: -moz-calc((100% - 60px) / 2);
width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
.col-2 {
width: 100%;
}
}

/* ==========================================================================
#BOX-SIZING
========================================================================== */
/**
* More sensible default box-sizing:
* css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
*/
html {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}

/* ==========================================================================
#RESET
========================================================================== */
/**
* A very simple reset that sits on top of Normalize.css.
*/
/*body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
margin: 0;
padding: 0;
}*/

/**
* Remove trailing margins from nested lists.
*/
/*li > ol,
li > ul {
margin-bottom: 0;
}*/

/**
* Remove default table spacing.
*/
/*table {
border-collapse: collapse;
border-spacing: 0;
}*/

/**
* 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
*    on fieldsets.
*/
/*fieldset {
min-width: 0;*/
/* [1] */
/*border: 0;
}

button {
outline: none;
background: none;
border: none;
}*/

/* ==========================================================================
#PAGE WRAPPER
========================================================================== */
/*.page-wrapper {
min-height: 100vh;
}

body {
font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
font-weight: 400;
font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 400;
}

h1 {
font-size: 36px;
}

h2 {
font-size: 30px;
}

h3 {
font-size: 24px;
}

h4 {
font-size: 18px;
}

h5 {
font-size: 15px;
}

h6 {
font-size: 13px;
}*/

/* ==========================================================================
#BACKGROUND
========================================================================== */
/*.bg-blue {
background: #2c6ed5;
}

.bg-red {
background: #fa4251;
}

.bg-gra-01 {
background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}*/

/* ==========================================================================
#SPACING
========================================================================== */
/*.p-t-100 {
padding-top: 100px;
}

.p-t-180 {
padding-top: 180px;
}

.p-t-20 {
padding-top: 20px;
}

.p-t-10 {
padding-top: 10px;
}

.p-t-30 {
padding-top: 30px;
}

.p-b-100 {
padding-bottom: 100px;
}
*/
/* ==========================================================================
#WRAPPER
========================================================================== */
/*.wrapper {
margin: 0 auto;
}

.wrapper--w960 {
max-width: 960px;
}

.wrapper--w780 {
max-width: 780px;
}

.wrapper--w680 {
max-width: 680px;
}
*/
/* ==========================================================================
#BUTTON
========================================================================== */
.btn {
display: inline-block;
line-height: 40px;
padding: 0 33px;
font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
cursor: pointer;
color: #fff;
-webkit-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 0.4s ease;
font-size: 18px;
}

.btn--radius {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.btn--pill {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.btn--green {
background: #57b846;
}

.btn--green:hover {
background: #4dae3c;
}

/* ==========================================================================
#DATE PICKER
========================================================================== */
td.active {
background-color: #2c6ed5;
}

input[type="date" i] {
padding: 14px;
}

.table-condensed td, .table-condensed th {
font-size: 14px;
font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
font-weight: 400;
}

.daterangepicker td {
width: 40px;
height: 30px;
}

.daterangepicker {
border: none;
-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
display: none;
border: 1px solid #e0e0e0;
margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
display: none;
}

.daterangepicker thead tr th {
padding: 10px 0;
}

.daterangepicker .table-condensed th select {
border: 1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
padding: 5px;
outline: none;
}

/* ==========================================================================
#FORM
========================================================================== */
input {
outline: none;
margin: 0;
border: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
width: 100%;
font-size: 14px;
font-family: inherit;
}

.input-icon {
position: absolute;
font-size: 18px;
color: #ccc;
right: 8px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
cursor: pointer;
}

.input-group {
position: relative;
margin-bottom: 33px;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input--style-3 {
padding: 5px 0;
font-size: 16px;
color: #ccc;
background: transparent;
}

.input--style-3::-webkit-input-placeholder {
/* WebKit, Blink, Edge */
color: #ccc;
}

.input--style-3:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
color: #ccc;
opacity: 1;
}

.input--style-3::-moz-placeholder {
/* Mozilla Firefox 19+ */
color: #ccc;
opacity: 1;
}

.input--style-3:-ms-input-placeholder {
/* Internet Explorer 10-11 */
color: #ccc;
}

.input--style-3:-ms-input-placeholder {
/* Microsoft Edge */
color: #ccc;
}

/* ==========================================================================
#SELECT2
========================================================================== */
.select--no-search .select2-search {
display: none !important;
}

.rs-select2 .select2-container {
width: 100% !important;
outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
outline: none;
border: none;
height: 36px;
background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 0;
    color: #ccc;
    font-size: 16px;
    font-family: inherit;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    right: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none;
    }

    .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
        font-family: "Material-Design-Iconic-Font";
        content: '\f2f9';
        font-size: 18px;
        color: #ccc;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
-webkit-transform: rotate(-180deg);
-moz-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
-o-transform: rotate(-180deg);
transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 36px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-3 {
    background: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: table;
}

.card-3 .card-heading {
    background: url("../images/bg-heading-03.jpg") top left/cover no-repeat;
    display: table-cell;
    width: 50%;
}

.card-3 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
    display: table-cell;
}

@media (max-width: 767px) {
    .card-3 {
        display: block;
    }

    .card-3 .card-heading {
        display: block;
        width: 100%;
        padding-top: 400px;
        background-position: center center;
    }

    .card-3 .card-body {
        display: block;
        width: 100%;
        padding: 37px 30px;
        padding-bottom: 45px;
    }
}

/* ==========================================================================
   #Social Media Footer
   ========================================================================== */
.soci-row-posi {
    margin-left: 2.4rem;
}

.social .soc-container {
    text-align: center;
}

.social .soc-container ul {
float: left;
}

.social .soc-container ul li {
    float: left;
    padding-left: 10px;
    list-style-type: none;
}

/**//*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
